* {
	box-sizing: border-box;
}

.content {
	margin: 0 20px;
}

#button-view {
	margin: 15px 0;
}

.food {
	margin: 5px 10px;
}

.food-img {
    float: left;
    padding: 0 15px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

